<div class="centered-content">
  <div class="modal-box">
    <h1 class="title">
      Create a new task
    </h1>
    <mat-form-feild>
      <input  matInput #taskTitleInput class="input has-background-light is-medium" type="text" placeholder="Enter task name...">
    </mat-form-feild>
    
    <br><br>
    <div class="buttons is-right">
      <button mat-button-raised class="button is-medium" routerLink="/">Cancel</button>
      <button mat-button-raised class="button is-primary has-text-white is-medium" (click)="createTask(taskTitleInput.value)">Create</button>
    </div>

    
  </div>
</div>